.search-room {
  &_wrap {
    background-color: #F4F4F4;
    padding: 40px 0;

  }
}

.info {

  .info_select {
    display: flex;
    justify-content: space-between;

    .info_select_ele {
      width: calc(100% / 3 - 20px);
      display: flex;
      flex-direction: column;
    }
  }

}