.service_title {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
}

.service_select {
  background-color: #f3f3f3;
  margin: 40px 0;
  padding: 10px 30px;
  text-align: left;
  display: flex;

  select {
    margin: 0 10px;
    padding: 5px 20px 5px 10px;
  }
}

.ant-table-thead {
  th {
    background-color: #3461b4 !important;
    color: white !important;
  }

}