.room_like_mana {
  background-color: #f3f3f3;

  .room_like_mana_content {
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    background-color: white;

    h3 {
      font-size: 22px;
      margin-bottom: 50px;
    }

    .room_like_mana_content_item {
      display: flex;
      justify-content: space-between;
    }
  }
}