.room-content {
  width: calc(100% / 2 - 10px);
  background-color: white;
  padding: 15px;
  text-align: left;

  h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &_price {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #D60909;
  }

  &_area {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &_address {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &_land {
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
  }

  &_contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .room-content_contact_tele {
      width: calc(100% / 2 - 5px);

      button {
        width: 100%;
        border: none;
        padding: 10px 0;
        background-color: #D60909;
        color: white;
        font-size: 18px;

        i {
          margin-right: 5px;
        }
      }
    }

    .room-content_contact_like {
      width: calc(100% / 2 - 5px);

      button {
        width: 100%;
        border: none;
        padding: 10px 0;
        font-size: 18px;
        background-color: white;
        border: 1px solid #6e6b6b;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}