h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
}

.select {
  background-color: #EFF2F5;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 40px 0;

  .select_search {

    .select_search_title {
      margin-right: 25px;
    }

    select {
      font-size: 14px;
      padding: 5px 40px 5px 10px;
    }

  }

  .select_add {

    button {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}

table {

  .button {
    padding: 5px 12px;
    margin-right: 8px;
  }
}