.tenant-mana_title {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
}

.tenant-mana_act {
  background-color: #EFF2F5;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 40px 0;

  .tenant-mana_act_search {
    display: flex;

    .tenant-mana_act_search_ele {
      margin-right: 70px;

      .tenant-mana_act_search_ele_name {
        margin-right: 15px;
      }

      .tenant-mana_act_search_ele_select {
        font-size: 14px;
        padding: 5px 40px 5px 10px;
      }
    }
  }
}

table {

  .button {
    padding: 5px 12px;
    margin-right: 8px;
  }

  .ant-table-thead {

    th {
      background-color: #3461b4 !important;
      color: white !important;
    }

  }
}