.house_mana_title {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
}

.house_mana_add {
  text-align: left;
  margin: 40px 0;

  button {
    padding: 6px 20px;
  }
}

table {

  .button {
    padding: 5px 12px;
    margin-right: 8px;
  }
}

.ant-table-thead {
  th {
    background-color: #3461b4 !important;
    color: white !important;
  }

}

.link_page_room {
  background-color: #D60909;
  color: white;
  padding: 8px 20px;
}