h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
}

.add {
  text-align: left;
}

table {
  margin: 50px 0;
}

.ele {
  font-weight: 350;

  button {
    padding: 2px 10px;
    margin-right: 6px;
  }
}