.room-same {

  h3 {
    font-size: 22px;
    padding: 30px 0;
  }

  &_box {

    .room-same_box_ele {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }
}