.info-user {
  background-color: #f3f3f3;

  .info-user_box {
    width: 50%;
    margin: 50px auto;
    padding: 40px 0;
    background-color: white;
    display: flex;
    flex-direction: column;

    h3 {
      text-align: center;
      font-size: 22px;
      margin-bottom: 30px;
    }

    .info-user_box_item {
      width: 50%;
      margin: 10px auto;
      display: flex;

      .info-user_box_item_label {
        margin-right: 10px;

      }

      .info-user_box_item_content {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}