.add_tenant {
  width: 100%;

  .add_tenant_box {
    width: 100%;
    padding: 40px;

    .add_tenant_box_child {
      width: 100%;
      margin-bottom: 20px;

      input {
        width: 100%;
      }
    }

    textarea {
      width: 100%;
      height: 100px;
      min-height: 120px;
      padding: 10px;
    }
  }

  .add_tenant_button {
    margin-top: 30px;
  }
}