.add_house {
  width: 70%;
  border: 1px solid #385995;
  margin-left: 10%;
  margin-top: 4%;

  .add_house_title {
    width: 100%;
    display: block;
    background-color: #385995;
    text-align: left;
    padding: 5px 20px;
    color: white;
  }

  .add_house_content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;

    .add_house_content_ele {
      width: 80%;
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;

      .add_house_content_ele_child {
        width: calc(100% / 2 - 10px);

        .add_house_content_ele_child_title {
          text-align: left;
          margin-bottom: 5px;
        }

        select {
          width: 100%;
          padding: 10px;
          border: 1px solid #b8b5b5;
          opacity: 0.6;
        }
      }

      .add_house_content_ele_child1 {
        width: calc(100% / 3 - 10px);
        border-radius: 3px;

        .add_house_content_ele_child1_title {
          text-align: left;
          margin-bottom: 5px;
        }

        select {
          width: 100%;
          padding: 7px 10px;
          border: 1px solid #b8b5b5;
          opacity: 0.6;
        }
      }

      input {
        width: 100%;
      }
    }

    .add_house_content_ele1 {
      display: flex;
      align-items: center;
      margin-top: 30px;
    }
  }
}