.contract_manager {
  background-color: #f3f3f3;

  .contract_manager_content {
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    background-color: white;

    h3 {
      font-size: 22px;
      margin-bottom: 50px;
    }

    .contract_manager_content_item {
      display: flex;
      justify-content: space-between;
    }
  }
}