.filter-search-need {
  width: 70%;
  margin: auto;
  padding: 15px 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 20px;
    font-weight: 400;
    margin-top: 3px;
  }
}