.card-room2 {
  width: calc(100% / 2 - 10px);
  display: flex;
  justify-content: space-between;
  border: 1px solid #dbd8d8f1;
  margin-bottom: 20px;
  padding: 10px;

  &_img {
    width: 35%;

    img {
      width: 100%;
      height: 18vh;
      object-fit: cover;

    }
  }

  &_content {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 15px;

    .card-room2_content_title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .card-room2_content_price {
      font-weight: 500;
      color: #D60909;
    }

    .card-room2_content_address {
      margin: 2px 0;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
}