.show_bill {

  .show_bill_date_title {
    margin-right: 15px;
  }


  .show_bill_table {
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ddd;

    td,
    th {
      padding: 8px;
      text-align: left;
      font-size: 15px;
    }

    td {
      width: 16.66%;
      border: 1px solid rgb(213, 207, 207);
    }


    input {
      width: 100px;
      height: 30px;
    }


  }

  button {
    margin-left: 20px;
  }
}

.ant-picker-outlined {
  border-color: unset !important;
}