.detail_rental_contract {
  width: 100%;
  padding: 20px 0;
  background-color: white;

  .detail_rental_contract_flex {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .detail_rental_contract_flex_item {
      display: flex;
      flex-direction: column;
      width: calc(100% / 2 - 30px);

      h4 {
        font-size: 18px;
      }

      span {
        font-size: 16px;
      }
    }
  }

  .detail_rental_contract_flex1 {
    margin-bottom: 50px;

    .detail_rental_contract_flex1_item {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 15px;

      h4 {
        font-size: 18px;
      }

      span {
        font-size: 16px;
      }
    }
  }
}