.button {
  border: none;
  padding: 8px 25px;
}

.red_color {
  background: #b90505;
  color: white;
}

.white_color {
  background: white;
  color: black;
  border: 1px solid #6e6b6b;
}

.blue_color {
  background-color: #325493;
  color: white;
}

.warning_color {
  background-color: #f6bb0c;
  color: black;
}