.common_admin {
  width: 100%;
  display: flex;

  &_list {
    width: 20%;
    min-height: 100vh;
    background-color: #2B3643;

    .common_admin_list_user {
      width: 100%;
      display: flex;
      padding: 30px 30px 0px 30px;
      ;
      border-bottom: 1px solid rgb(93, 91, 91);

      .common_admin_list_user_img {
        width: 25%;

        img {
          width: 100%;
          height: 75%;
          object-fit: cover;
          border-radius: 50px;
        }
      }

      .common_admin_list_user_info {
        width: 75%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 5px 20px 0 20px;

        .common_admin_list_user_info_land {
          color: #a3a4a5;
        }

        .common_admin_list_user_info_name {
          color: white;
        }
      }
    }

    .common_admin_list_link {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 40px 0;

      .common_admin_list_link_ele {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 300;
        padding: 10px 50px;
      }

      .common_admin_list_link_ele:hover {
        background-color: #999a9c;
        transition: 0.2s;
      }
    }

  }

  &_content {
    width: 80%;
    padding: 50px 50px;
  }
}