.header {
  width: 100%;
  background-color: #D60909;

  .header_wrap {
    width: 80%;
    margin: 0 auto;

    .navbar-brand {
      color: white;
      font-size: 16px;
      font-weight: 600;
    }

    .nav-link {
      color: white;
    }

    .navbar-nav {
      .header_user {
        color: white;
        text-decoration: none;
        font-weight: 300;
      }

      .header_separate {
        color: white;
        padding: 0 10px;
      }
    }
  }
}