

form {
  width: 55%;
  border: 1px solid #385995;
  margin-left: 15%;
  margin-top: 4%;

  span {
    width: 100%;
    display: block;
    background-color: #385995;
    text-align: left;
    padding: 5px 20px;
    color: white;
  }

  .add_house_content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;

    .add_house_content_ele {
      width: 60%;
      margin: 10px 0;
      display: flex;
      justify-content: center;

      input {
        width: 100%;
      }

      select {
        width: 100%;
        padding: 10px;
      }
    }
  }
}