h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
}

.vehicle_search {
  width: 100%;
  background-color: #EFF2F5;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 40px 0;

  .vehicle_search_left {
    width: 60%;
    display: flex;

    .vehicle_search_left_content {
      margin-right: 70px;

      .vehicle_search_left_content_title {
        margin-right: 15px;
      }

      .vehicle_search_left_content_select {
        font-size: 14px;
        padding: 5px 40px 5px 10px;
      }
    }
  }

  .vehicle_search_right {
    .vehicle_search_right_button {
      button {
        padding: 5px 10px;
        font-size: 14px;
      }
    }
  }
}

table {
  .button {
    padding: 5px 12px;
    margin-right: 8px;
  }

  .ant-table-thead {

    th {
      background-color: #3461b4 !important;
      color: white !important;
    }

  }
}