.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  color: white;

  span {
    margin-left: 5px;
  }

  i {
    margin: 0 5px;
  }
}

.dropdown-menu[data-bs-popper] {
  top: 35px;
  left: -5px;
  margin-top: var(--bs-dropdown-spacer);
}