.add_bill {
  .add_bill_date {
    padding: 10px 20px;

    input {
      margin-left: 10px;
    }

    .add_bill_date_title {
      margin-right: 15px;
    }
  }

  .add_bill_table {
    width: 95%;
    margin: 20px auto;
    border: 1px solid #ddd;

    td,
    th {
      padding: 8px;
      text-align: left;
      font-size: 15px;
    }

    td {
      width: 16.66%;
      border: 1px solid rgb(213, 207, 207);
    }


    input {
      width: 100px;
      height: 30px;
    }


  }

  button {
    margin-left: 20px;
  }
}

.ant-picker-outlined {
  border-color: unset !important;
}