.register {
  background-color: #EAEAEA;
  height: 100vh;

  &_box {
    width: 38%;
    margin: 40px auto;
    padding: 30px;
    background-color: white;

    .register_title {
      text-align: center;
      font-size: 26px;
      font-weight: 400;
      margin-bottom: 50px;
    }

    .register_content {
      width: 70%;
      margin: auto;

      .register_content_child {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        select {
          padding: 10px;
          border-radius: 10px;
        }

        button {
          width: 100%;
          margin: 10px auto 0;
          border-radius: 8px;
        }
      }
    }

    .register_link {
      text-align: right;
      margin-bottom: 30px;

      .register_link_decor {
        text-decoration: none;
      }
    }
  }

}