.room_need_same {
  width: 70%;
  margin: 0 auto;
  background-color: white;

  &_title {
    font-size: 22px;
    font-weight: 500;
    padding-top: 30px;
  }

  &_box {

    .room_need_same_box_ele {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 50px 0 20px 0;
      padding: 0 30px;
    }

    button {
      margin-bottom: 30px;
    }
  }
}